:root{
    --grid-size: 1;
}

.title{
    text-align: center;
    font: bold 40px Helvetica;
    margin-bottom: 50px;
}
  
.container {
    display: grid;
    width: 500px;
    height: 500px;
    margin: auto;
    border: solid black;
    grid-template-columns: repeat(var(--grid-size),1fr);
    grid-template-rows: repeat(var(--grid-size),1fr); 

}

.grid{
    border: .5px solid black;  
}

.changeBackground{
    background-color: black;
}

.buttons{
    display: grid;
    justify-content: center;
    padding: 10px;

}