:root{
    --grid-size: 1;
}

body{
    margin: 0;
    background-color: rgb(219, 219, 219);
}
.title{
    text-align: center;
    font: bold 40px Helvetica;
}
  
.container {
    background-color: white;
    display: grid;
    width: 500px;
    height: 500px;
    margin: auto;
    border: solid black;
    grid-template-columns: repeat(var(--grid-size),1fr);
    grid-template-rows: repeat(var(--grid-size),1fr); 

}

.grid{
    border: .5px solid black;  
}

.changeBackground{
    background-color: black;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 25px;

}

.btn{
    padding: 10px 30px;
    background-color: #1982FC;
    border: 0px;
    border-radius: 5px;
    color: white;
}